
<!DOCTYPE htmlThanh Ho?UBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi" lang="vi">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" class="metaview">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="format-detection" content="telephone=no">
<base href="./" />
<link rel="canonical" href="" /><link href="img_data/images/logo.png" rel="shortcut icon" type="image/x-icon" />
<title>Phòng Thu Âm Hà Đông</title>
<meta name="keywords" content="Phòng Thu Âm Hà Đông,phòng thu âm Hà Đông,phòng thu âm giá rẻ,thu âm đám cưới, quay MV" />
<meta name="description" content="phòng thu âm Hà Đông.Chuyên thu âm bài hát.Hòa âmThanh Ho?hối khí.Thu âm đám cưới.Thu âm quảng cáo. quay MVThanh Ho?hòng thu giá rẻ.thu âm chuyên nghiệp." />
<!-- google -->
<meta itemprop="name" content="Phòng Thu Âm Hà Đông">
<meta itemprop="description" content="phòng thu âm Hà Đông.Chuyên thu âm bài hát.Hòa âmThanh Ho?hối khí.Thu âm đám cưới.Thu âm quảng cáo. quay MVThanh Ho?hòng thu giá rẻ.thu âm chuyên nghiệp.">
<meta itemprop="image" content="img_data/images/logo.png">
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@publisher_handle">
<meta name="twitter:title" content="Phòng Thu Âm Hà Đông">
<meta name="twitter:description" content="phòng thu âm Hà Đông.Chuyên thu âm bài hát.Hòa âmThanh Ho?hối khí.Thu âm đám cưới.Thu âm quảng cáo. quay MVThanh Ho?hòng thu giá rẻ.thu âm chuyên nghiệp.">
<meta name="twitter:creator" content="@author_handle">
<meta name="twitter:image:src" content="img_data/images/logo.png">
<!-- facebook -->
<meta property="og:title" content="Phòng Thu Âm Hà Đông" />
<meta property="og:type" content="article" />
<meta property="og:url" content="templates/images/progress.gif" />
<meta property="og:image" content="img_data/images/logo.png" />
<meta property="og:description" content="phòng thu âm Hà Đông.Chuyên thu âm bài hát.Hòa âmThanh Ho?hối khí.Thu âm đám cưới.Thu âm quảng cáo. quay MVThanh Ho?hòng thu giá rẻ.thu âm chuyên nghiệp." />
<meta property="og:site_name" content="hutoglobal" />
<meta property="fb:page_id" content="" /><link href="templates/extra/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="templates/js/jquery-1.11.0.min.js"></script>
<link href="templates/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<link rel='stylesheet'  href='templates/extra/mmenu/jquery.mmenu.css' type='text/css' />
<script src='templates/extra/mmenu/jquery.mmenu.js'></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		 $('nav#menu').mmenu({
	        navbar: { title: 'Danh mục' }        
	    });	
	});
</script>
<link href="templates/extra/fancybox/jquery.fancybox.css" rel="stylesheet" />
<link href="templates/extra/slick/slick.css" rel="stylesheet" />
<link href="templates/extra/wow/animate.css" rel="stylesheet" />
<link href="templates/css/aos.css" rel="stylesheet" />
<link href="templates/css/style.css" rel="stylesheet" />
<link href="templates/css/module.css" rel="stylesheet" />
<link href="templates/css/responsive.css" rel="stylesheet" />
<link href="templates/css/responsive_module.css" rel="stylesheet" />
<script src="templates/js/detect.js"></script>
<script src="templates/extra/bootstrap/js/bootstrap.min.js"></script>
<script src="templates/extra/fancybox/jquery.fancybox.js"></script>	
<script src="templates/extra/fancybox/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="templates/extra/validate/jquery.validate.min.js"></script>	
<script src="templates/extra/slick/slick.js"></script>
<script src="templates/js/aos.js"></script>
<script src="templates/js/home.js"></script>
<script src="templates/js/module.js"></script>
<script src="templates/js/jquery.nicescroll.min.js"></script>
</head>
<body class="">
		<div class="fback-top"><i class="fa fa-angle-up"></i></div>
	<div id="container">
		<header>
    <div class="top-header">
        <div class="containerThanh Ho?0">
            <div class="row10">
                <div class="col-md-2 plr10">
                    <div class="logo-top">
                        <a href="" title="Home">
                            <img src="img_data/images/logo.png" alt="banner">
                        </a>
                    </div>
                </div>
                <div class="col-md-10 plr10">
                    <div class="hot-mail">
                        <span>Hotline: 096 158 38 36</span>
                        <span>Email: phongthuamvietnam@gmail.com</span>
                    </div>
                    <nav id="aff_menu" class="nav">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="fa fa-bars" title="Danh mục sảnThanh Ho?hẩm"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse navbar-responsive-collapse">
                            <ul class="nav navbar-nav">
    <li class="active">
        <a href="" title="Trang chủ">
           Trang chủ        </a>
    </li>
            <li class="">
            <a href="gioi-thieu.html" title="GIỚI THIỆU">
                GIỚI THIỆU            </a>
                    </li>
            <li class="dropdown">
            <a href="dich-vu-cua-phong-thu-mc.html" title="DỊCH VỤ CỦAThanh Ho?hòng Thu MC">
                DỊCH VỤ CỦAThanh Ho?hòng Thu MC            </a>
                           <ul class="dropdown-menu fadeInUp animate1">
                                            <li class="">
                            <a href="thu-am-bai-hat-phong-thu-am-phong-thu-mc.html" title="THU ÂM BÀI HÁT -Thanh Ho?HÒNG THU ÂMThanh Ho?hòng Thu MC">THU ÂM BÀI HÁT -Thanh Ho?HÒNG THU ÂMThanh Ho?hòng Thu MC</a>                                                    
                                                    </li>
                                            <li class="">
                            <a href="thu-am-dam-cuoi.html" title="THU ÂM ĐÁM CƯỚI">THU ÂM ĐÁM CƯỚI</a>                                                    
                                                    </li>
                                            <li class="">
                            <a href="thu-am-chuyen-nghiep-13.html" title="THU ÂM CHUYÊN NGHIỆP">THU ÂM CHUYÊN NGHIỆP</a>                                                    
                                                    </li>
                                            <li class="">
                            <a href="thu-am-quang-cao-8.html" title="THU ÂM QUẢNG CÁO">THU ÂM QUẢNG CÁO</a>                                                    
                                                    </li>
                                            <li class="">
                            <a href="hoa-am-phoi-khi.html" title="HÒA ÂMThanh Ho?HỐI KHÍ">HÒA ÂMThanh Ho?HỐI KHÍ</a>                                                    
                                                    </li>
                                    </ul>
                    </li>
            <li class="">
            <a href="bang-gia-phong-thu-am-thanh-hoa.html" title="BẢNG GIÁ">
                BẢNG GIÁ            </a>
                    </li>
            <li class="">
            <a href="hinh-anh.html" title="HÌNH ẢNH">
                HÌNH ẢNH            </a>
                    </li>
            <li class="">
            <a href="lien-he.html" title="LIÊN HỆ">
                LIÊN HỆ            </a>
                    </li>
        <li>
        <a href="javascript:" class="show-search">
            <i class="fa fa-search"></i>
        </a>
        <div class="d7 d7-desktop d7-search">
            <form method="get" action="index.php">
                <input type="hidden" name="com" value="search">
                <input type="text" name="textsearch" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập từ khóa tìm kiếm...'" placeholder="Nhập từ khóa tìm kiếm..." class="form-control">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </li>
</ul>
<!--Thanh Ho?roduct (id,type)
attribute (id,id_product,code)
product_attribute(id,id_attribute,value) -->
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('.show-search').click(function(event) {
            $('.d7-desktop').fadeToggle();
        });
    });
</script>                        </div>  
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>        
    <div id="mobile_menu">
        <div class="header">
            <a href="#menu"><span class="fa fa-bars" title="Danh mục sảnThanh Ho?hẩm"></span></a>
            <form method="get" action="index.php">
                <input type="hidden" name="com" value="search">
                <input type="text" name="textsearch" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập từ khóa tìm kiếm...'" placeholder="Nhập từ khóa tìm kiếm..." class="form-control">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <nav id="menu">
            <ul class="nav navbar-nav">
    <li class="active">
        <a href="" title="Trang chủ">
           Trang chủ        </a>
    </li>
            <li class="">
            <a href="gioi-thieu.html" title="GIỚI THIỆU">
                GIỚI THIỆU            </a>
                    </li>
            <li class="dropdown">
            <a href="dich-vu-cua-phong-thu-mc.html" title="DỊCH VỤ CỦAThanh Ho?hòng Thu MC">
                DỊCH VỤ CỦAThanh Ho?hòng Thu MC            </a>
                           <ul class="dropdown-menu fadeInUp animate1">
                                            <li class="">
                            <a href="thu-am-bai-hat-phong-thu-am-phong-thu-mc.html" title="THU ÂM BÀI HÁT -Thanh Ho?HÒNG THU ÂMThanh Ho?hòng Thu MC">THU ÂM BÀI HÁT -Thanh Ho?HÒNG THU ÂMThanh Ho?hòng Thu MC</a>                                                    
                                                    </li>
                                            <li class="">
                            <a href="thu-am-dam-cuoi.html" title="THU ÂM ĐÁM CƯỚI">THU ÂM ĐÁM CƯỚI</a>                                                    
                                                    </li>
                                            <li class="">
                            <a href="thu-am-chuyen-nghiep-13.html" title="THU ÂM CHUYÊN NGHIỆP">THU ÂM CHUYÊN NGHIỆP</a>                                                    
                                                    </li>
                                            <li class="">
                            <a href="thu-am-quang-cao-8.html" title="THU ÂM QUẢNG CÁO">THU ÂM QUẢNG CÁO</a>                                                    
                                                    </li>
                                            <li class="">
                            <a href="hoa-am-phoi-khi.html" title="HÒA ÂMThanh Ho?HỐI KHÍ">HÒA ÂMThanh Ho?HỐI KHÍ</a>                                                    
                                                    </li>
                                    </ul>
                    </li>
            <li class="">
            <a href="bang-gia-phong-thu-am-thanh-hoa.html" title="BẢNG GIÁ">
                BẢNG GIÁ            </a>
                    </li>
            <li class="">
            <a href="hinh-anh.html" title="HÌNH ẢNH">
                HÌNH ẢNH            </a>
                    </li>
            <li class="">
            <a href="lien-he.html" title="LIÊN HỆ">
                LIÊN HỆ            </a>
                    </li>
        <li>
        <div class="d7 d7-search">
            <form method="get" action="index.php">
                <input type="hidden" name="com" value="search">
                <input type="text" name="textsearch" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nhập từ khóa tìm kiếm...'" placeholder="Nhập từ khóa tìm kiếm..." class="form-control">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </li>
</ul>
<!--Thanh Ho?roduct (id,type)
attribute (id,id_product,code)
product_attribute(id,id_attribute,value) -->        </nav>
    </div>
</header>
<div class="clearfix"></div>		<script type="text/javascript" src="templates/extra/slider/jssor.slider.min.js"></script>
 <script>
    jQuery(document).ready(function ($) {
        var slideTransitions = [
          {$Duration:400,$Delay:40,$Cols:16,$Formation:$JssorSlideshowFormations$.$FormationStraight,$Opacity:2},
          {$Duration:400,$Delay:40,$Cols:16,$Formation:$JssorSlideshowFormations$.$FormationStraight,$Opacity:2,$Assembly:260}
        ];
        var captureTransitions = [
            [{b:-1,d:1,o:-1},{b:0,d:1200,y:300,o:1,e:{y:24,o:6}},{b:5600,d:800,y:-200,o:-1,e:{y:5}}],
        ];
        var options = {
            $AutoPlay: 1,
            $PauseOnHover: 0,
            $SlideDuration: 800,
            $SlideshowOptions: {
                $Class: $JssorSlideshowRunner$,
                $Transitions: slideTransitions,
                $TransitionsOrder: 1
            },
            $SlideEasing: $Jease$.$OutQuint,
            $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$,
                $ChanceToShow: 1
            },
            $CaptionSliderOptions: {
                $Transitions: captureTransitions,
            },
            $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
            }
        };

        var jssor_slider = new $JssorSlider$("jssor_1", options);

        /*#region responsive code begin*/
        /*you can remove responsive code if you don't want the slider scales while window resizing*/
        function ScaleSlider() {
            var refSize = jssor_slider.$Elmt.parentNode.clientWidth;
            if (refSize) {
                refSize = Math.min(refSize, 1920);
                jssor_slider.$ScaleWidth(refSize);
            }
            else {
                window.setTimeout(ScaleSlider, 30);
            }
        }
        ScaleSlider();
        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);
    });
</script>
<div class="slide">
    <div class="p0">
        <div class="wrap-slide">
            <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1400px;height:540px;overflow:hidden;visibility:hidden;">
                <!-- Loading Screen -->
                <div data-u="loading" class="jssorl-oval" style="position:absolute;top:0px;left:0px;text-align:center;background-color:rgba(0,0,0,0.7);">
                    <img style="margin-top:-19.0px;position:relative;top:50%;width:38px;height:38px;" src="templates/extra/slider/svg/loading/static-svg/oval.svg" />
                </div>
                <!-- slides container -->
                <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1400px;height:540px;overflow:hidden;">
                                            <div data-idle="4000" class="j-item">
                            <img data-u="image" src="img_data/images/z7972376635231_8c9b52efc9798fe2e47c6d17a7f8702d.jpg" alt="phong thu amThanh Ho?h?ng Thu MC" />
                        </div>
                                            <div data-idle="4000" class="j-item">
                            <img data-u="image" src="img_data/images/z7972379284000_d3b495ab948e52fce8514bf9c2d19c8f.jpg" alt="" />
                        </div>
                                            <div data-idle="4000" class="j-item">
                            <img data-u="image" src="img_data/images/thumb760140918030.jpg" alt="Thu am top caThanh Ho?hong thu am Hà Đông" />
                        </div>
                                            <div data-idle="4000" class="j-item">
                            <img data-u="image" src="img_data/images/z7972379284000_d3b495ab948e52fce8514bf9c2d19c8f.jpg" alt="Phòng Thu Âm Hà Đông -Thanh Ho?hòng Thu MC" />
                        </div>
                                    </div>
                
                <!--#region Bullet Navigator Skin Begin -->
                <!-- Help: https://www.jssor.com/development/slider-with-bullet-navigator.html -->
                <style>
                    .jssorb051 .i {position:absolute;cursor:pointer;}
                    .jssorb051 .i .b {fill:#fff;fill-opacity:0.5;stroke:#000;stroke-width:400;stroke-miterlimit:10;stroke-opacity:0.5;}
                    .jssorb051 .i:hover .b {fill-opacity:.7;}
                    .jssorb051 .iav .b {fill-opacity: 1;}
                    .jssorb051 .i.idn {opacity:.3;}
                </style>
                <div data-u="navigator" class="jssorb051" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
                    <div data-u="prototype" class="i" style="width:20px;height:20px;">
                        <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                            <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                        </svg>
                    </div>
                </div>
                <!--#endregion Bullet Navigator Skin End -->
                
                <!--#region Arrow Navigator Skin Begin -->
                <!-- Help: https://www.jssor.com/development/slider-with-arrow-navigator.html -->
                <style>
                    .jssora051 {display:block;position:absolute;cursor:pointer;}
                    .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
                    .jssora051:hover {opacity:.8;}
                    .jssora051.jssora051dn {opacity:.5;}
                    .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
                </style>
                <div data-u="arrowleft" class="jssora051" style="width:75px;height:75px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
                    <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                        <polyline class="a"Thanh Ho?oints="11040,1920 4960,8000 11040,14080 "></polyline>
                    </svg>
                </div>
                <div data-u="arrowright" class="jssora051" style="width:75px;height:75px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
                    <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                        <polyline class="a"Thanh Ho?oints="4960,1920 11040,8000 4960,14080 "></polyline>
                    </svg>
                </div>
                <!--#endregion Arrow Navigator Skin End -->
            </div>
        </div>
    </div>
</div><div class="clearfix"></div>
<section class="sec-taisao">
	<div class="containerThanh Ho?0">
		<div class="title-main" data-aos="zoom-in">
			<h3>Dịch vụ của chúng tôi</h3>
			<div>
				<img src="templates/images/img-title.png">
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="content-taisao">
			<div class="row">
									<div class="col-sm-4">
						<div class="clearfix item-dv mb20" data-aos="fade-up" data-aos-delay="150">
							<div class="img-dv">
								<a href="thu-am-chuyen-nghiep.html" class="img-shine" title="Thu âm chuyên nghiệp">
									<div class="wrap-img">
										<img src="img_data/images/icon-1977857516460.png">
									</div>
								</a>
							</div>
							<div class="info">
								<h3 class="title-font">
									<a href="thu-am-chuyen-nghiep.html" title="Thu âm chuyên nghiệp">Thu âm chuyên nghiệp									</a>
								</h3>
								<div class="des-why">
									<p>Dịch vụ thu âm chuyên nghiệp, chỉnh sửa từng câu chữ, trang thiết bị hiện đại, cập nhật xu hướng tối ưu.</p>
								</div>
							</div>
						</div>
					</div>
									<div class="col-sm-4">
						<div class="clearfix item-dv mb20" data-aos="fade-up" data-aos-delay="300">
							<div class="img-dv">
								<a href="quay-mv.html" class="img-shine" title="Quay MV">
									<div class="wrap-img">
										<img src="img_data/images/icon-2080561818687.png">
									</div>
								</a>
							</div>
							<div class="info">
								<h3 class="title-font">
									<a href="quay-mv.html" title="Quay MV">Quay MV									</a>
								</h3>
								<div class="des-why">
									<p>Quay MV ngoại cảnh,MVThanh Ho?hòng thu,từ cơ bản tới chuyên nghiệp, chất lượng cao với hình ảnh lung linh, nổi bật là tiêu chí hàng đầu.</p>
								</div>
							</div>
						</div>
					</div>
									<div class="col-sm-4">
						<div class="clearfix item-dv mb20" data-aos="fade-up" data-aos-delay="450">
							<div class="img-dv">
								<a href="thu-am-quang-cao.html" class="img-shine" title="THU ÂM QUẢNG CÁO">
									<div class="wrap-img">
										<img src="img_data/images/icon-3112718017203.png">
									</div>
								</a>
							</div>
							<div class="info">
								<h3 class="title-font">
									<a href="thu-am-quang-cao.html" title="THU ÂM QUẢNG CÁO">THU ÂM QUẢNG CÁO									</a>
								</h3>
								<div class="des-why">
									<p>Dành cho các công ty, nhãn hàng, doanh nghiệp cần thu âm quảng cáo, thu âmThanh Ho?hát lại, tổng đài, hay quảng bá sảnThanh Ho?hẩm</p>
								</div>
							</div>
						</div>
					</div>
							</div>
		</div>
	</div>
</section>
<div class="clearfix"></div>
<section class="sec-about">
	<div class="containerThanh Ho?0" data-aos="fade-up">
		<div class="title-main">
			<h3>VỀ CHÚNG TÔIThanh Ho?hòng Thu MC</h3>
		</div>
		<div class="clearfix"></div>
		<div class="content-about">
			<p style="text-align:center">Phòng Thu Âm Hà Đông là một trong nhữnThanh Ho?hòng thu âm chuyên nghiệp&nbsp;được đánh giá cao tại Hà Đông hiện nay.&nbsp;Ra đời vào năm 2009, khởi xướnThanh Ho?hong trào thu âm dành cho tất cả mọThanh Ho?gười. Vào thời điểm đó, ở Hà Đông chỉ cóThanh Ho?hòng thu âm dành riêng cho các ca sĩ với chiThanh Ho?hí thu âm,Thanh Ho?hốThanh Ho?hạc rất cao.&nbsp;Phòng Thu Âm Hà Đông&nbsp;là một trong số ítThanh Ho?hòng thu âm tại Hà Đông đầu tiên mở cửaThanh Ho?hục vụ cả ca sĩ lẫn người yêu ca hát.</p>

<p style="text-align:center">&nbsp;</p>
		</div>
		<div class="xem-ngay">
			<a href="gioi-thieu.html">Xem ngay</a>
		</div>
	</div>
</section>
<div class="clearfix"></div>
<section class="sec-video">
	<div class="containerThanh Ho?0">
		<div class="row10">
			<div class="col-sm-8 plr10">
				<iframe width="100%" height="440" id="iVideo" src="https://www.youtube.com/embed/aQ-yBJhXhzg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="col-sm-4 plr10">
				<div class="video-list">
											<div class="it-video" data-link="aQ-yBJhXhzg" style="background: url(https://img.youtube.com/vi/aQ-yBJhXhzg/0.jpg); background-size: 100%; background-position: center;">
						</div>
											<div class="it-video" data-link="fUx40RetkSw" style="background: url(https://img.youtube.com/vi/fUx40RetkSw/0.jpg); background-size: 100%; background-position: center;">
						</div>
											<div class="it-video" data-link="aQ-yBJhXhzg" style="background: url(https://img.youtube.com/vi/aQ-yBJhXhzg/0.jpg); background-size: 100%; background-position: center;">
						</div>
											<div class="it-video" data-link="cz1PSt9Y86w" style="background: url(https://img.youtube.com/vi/cz1PSt9Y86w/0.jpg); background-size: 100%; background-position: center;">
						</div>
											<div class="it-video" data-link="1-6WpsLWruc" style="background: url(https://img.youtube.com/vi/1-6WpsLWruc/0.jpg); background-size: 100%; background-position: center;">
						</div>
											<div class="it-video" data-link="1sItzXynxQM" style="background: url(https://img.youtube.com/vi/1sItzXynxQM/0.jpg); background-size: 100%; background-position: center;">
						</div>
											<div class="it-video" data-link="wQ17fezLuT8" style="background: url(https://img.youtube.com/vi/wQ17fezLuT8/0.jpg); background-size: 100%; background-position: center;">
						</div>
											<div class="it-video" data-link="WyepUR3Dj3Y" style="background: url(https://img.youtube.com/vi/WyepUR3Dj3Y/0.jpg); background-size: 100%; background-position: center;">
						</div>
											<div class="it-video" data-link="wQ17fezLuT8" style="background: url(https://img.youtube.com/vi/wQ17fezLuT8/0.jpg); background-size: 100%; background-position: center;">
						</div>
											<div class="it-video" data-link="qJzLLVztrf4" style="background: url(https://img.youtube.com/vi/qJzLLVztrf4/0.jpg); background-size: 100%; background-position: center;">
						</div>
											<div class="it-video" data-link="S1PQdnKp9ZY" style="background: url(https://img.youtube.com/vi/S1PQdnKp9ZY/0.jpg); background-size: 100%; background-position: center;">
						</div>
											<div class="it-video" data-link="7UdJcAmZgqQ" style="background: url(https://img.youtube.com/vi/7UdJcAmZgqQ/0.jpg); background-size: 100%; background-position: center;">
						</div>
											<div class="it-video" data-link="TQofGDJ7IUE" style="background: url(https://img.youtube.com/vi/TQofGDJ7IUE/0.jpg); background-size: 100%; background-position: center;">
						</div>
											<div class="it-video" data-link="WmCWVepKohE" style="background: url(https://img.youtube.com/vi/WmCWVepKohE/0.jpg); background-size: 100%; background-position: center;">
						</div>
											<div class="it-video" data-link="KXjTw3QwkbA" style="background: url(https://img.youtube.com/vi/KXjTw3QwkbA/0.jpg); background-size: 100%; background-position: center;">
						</div>
											<div class="it-video" data-link="ghSUIk-ljFQ" style="background: url(https://img.youtube.com/vi/ghSUIk-ljFQ/0.jpg); background-size: 100%; background-position: center;">
						</div>
											<div class="it-video" data-link="XjmdukSa_gU" style="background: url(https://img.youtube.com/vi/XjmdukSa_gU/0.jpg); background-size: 100%; background-position: center;">
						</div>
									</div>
			</div>
		</div>
	</div>
</section>
<script src="https://unpkg.com/wavesurfer.js"></script>
<div class="clearfix"></div>
<section class="sec-play">
	<div class="container">
		<div class="playlist">
			<p>NHỮNG CA KHÚC ĐƯỢC THU ÂM TẠIThanh Ho?hòng Thu MC</p>

<p><iframe frameborder="no" height="450" scrolling="no" src="https://w.soundcloud.com/player/?url=https%3A//soundcloud.com/mc-studio-377498494/&amp;color=%231d1d30&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true" width="100%"></iframe></p>
		</div>
		
	</div>
</section>
<div class="clearfix mb20"></div>
<style type="text/css">
  .marquee0 img{ padding: 5px; border: 1px solid #ccc; border-radius: 5px; }
</style>
<div class="clearfix"></div>
<section class="sec-partner">
  <div class="containerThanh Ho?0">
    <div class="wrapper-partner">
      <div style="width:100%; margin:0 auto;">
          <div class="marquee" id="mycrawler2">
                    </div>
       </div>
    </div>
  </div>
</section>
<div class="clearfix mb20"></div>
<!-- <script src="templates/extra/wavesurfer/wavesurfer.js"></script> -->
<script type="text/javascript">
	$( document ).ready(function() {
		$('.btn-play').click(function(event) {
			var id = $(this).data('id');
			id.play();
		});
	});
	
</script>
<script type="text/javascript">  
	 jQuery(document).ready(function($) {
    	$('.slider-news').slick({
	        slidesToShow: 3,
	        autoplay: true,
	        autoplaySpeed: 4000,
	        prevArrow: "<button class='style-bt bt-prev'><i class='fa fa-chevron-left'></i></button>",
	        nextArrow: "<button class='style-bt bt-next'><i class='fa fa-chevron-right'></i></button>",
	        responsive: [
	        	{
	            breakpoint: 991,
	            settings: { slidesToShow: 3, prevArrow: '',nextArrow:'' }
	          },
	          {
	            breakpoint: 480,
	            settings: { slidesToShow: 2, prevArrow: '',nextArrow:'' }
	          }
	        ],        
	     });

        $(window).scroll(function(){
            var cach_top = $(window).scrollTop();
            if(cach_top >= 50){
                $('.top-header').addClass('fix');
            }else{
                $('.top-header').removeClass('fix');
            }
        });
        $('.video-list').niceScroll();
        $('.it-video').click(function(event) {
        	var link = $(this).data('link');
        	$('#iVideo').attr('src', 'https://www.youtube.com/embed/'+link);
        });
    });
</script>		<div class="clearfix"></div>
    <footer class="footer">
        <div class="containerThanh Ho?0">
            <div class="row10">
                <div class="col-md-5 plr10">
                    <div class="thong-tin">
                        <div class="logo-ft">
                            <img src="img_data/images/logo.png" alt="Phòng Thu Âm Hà Đông">
                        </div>
                        <div class="content-footer">
                            <h2><strong>Phòng Thu Âm Hà Đông</strong></h2>

<p>Địa chỉ: sn 206,ngõ 25 Vạn Phúc, Quận Hà Đông, Hanoi, Vietnam</p>

<p>Điện thoại: 096 158 38 36</p>

<p>Email: phongthuamvietnam@gmail.com&nbsp;</p>

<p>https://www.facebook.com/profile.php?id=100065323546581</p>
                        </div>

                        <div class="ft-social">
                            <ul class="social-block">
                                <li class="facebook">
                                    <a class="_blank" href="https://www.facebook.com/profile.php?id=100065323546581" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a class="_blank" href="https://www.facebook.com/profile.php?id=100065323546581" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="google">
                                    <a class="_blank" href="https://plus.google.com/u/0/" target="_blank">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </li>
                                <li class="youtube">
                                    <a class="_blank" href="https://www.youtube.com/@phongthuhanoi/videos" target="_blank">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 plr10">
                    <div class="thong-tin">
                        <h3 class="title-font">Đăng ký thu âm</h3>
                        <div class="nhan-tin">
                            <div class="form-thuam">
                                <form method="POST" action="./sources/xl-tuvan.php">
                                    <div class="form-group">
                                        <input type="text" class="form-control" required placeholder="Họ và tên" name="ho_ten">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" required placeholder="Số điện thoại" name="dien_thoai">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" required placeholder="Email" name="email">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-danger" name="btn_tuvan">Gửi</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>             
                <div class="col-md-3 col-md-offset-1 col-sm-6 plr10">
                    <div class="thong-tin">
                        <h3 class="title-font">Kết nối trên facebook</h3>
                        <div class="facebook">
                            <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=100065323546581" data-small-header="true" data-width="500" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </footer>
    <div class="clearfix"></div>           
    <div class="copyright">
        <div class="containerThanh Ho?0">
            <div class="row10">
                <div class="col-md-12 plr10">
                <div class="clearfix text-center designed">
                  
                    <a href="" title="© 2019Thanh Ho?hòng Thu MC All rights reserved.">© 2019Thanh Ho?hòng Thu MC All rights reserved.</a>
                    <a href="https://www.facebook.com/profile.php?id=100065323546581" rel="nofollow" target="_blank" title="Thiết kế website : Mai Băng Cường">Thiết kế website : Mai Băng Cường</a>
                </div>
              </div> 
            </div>
        </div>
    </div>
<!-- <div class="call_now">
  <a href="tel:0961583836">
    <div class="call_now_circle"></div>
    <div class="call_now_circle_fill"></div>
    <div class="call_now_icon"></div>
  </a>
</div> -->
<script type="text/javascript" src="templates/js/crawler.js"></script>
<script type="text/javascript">
    marqueeInit({
        uniqueid: 'mycrawler2',
        inc: 1, 
        mouse: 'pause',
        moveatleast: 1,
        neutral: 120,
        savedirection: true,
        random: true,
    });
</script>
<div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<style>
    .box_chat{
        position:fixed;
        left:0px;
        bottom:0px;
        width: 100%;
        z-index: 9;
        border-radius: 5px 5px 0 0;
    }
     .box_chat .title-fb{
        color: #fff; font-size: 16px;
        font-weight: 500; text-align: right;
        cursor: pointer; display: inline-block;
        line-height:25px; z-index: 999;
    }
     .fb-chat{
        display:none;
        z-index:9999;
    }
    @media(max-width: 767px){
        .box_chat .pull-right{ padding-right: 40px; }
    }
</style>
<script>
    jQuery(document).ready(function () {
        jQuery(".title-fb").click(function() {
            jQuery('.fb-chat').toggle('slow');
        });
    });
  </script>
<div class="box_chat">
    <div class="containerThanh Ho?0">
        <div class="pull-right text-right">
            <div class="title-fb">
                <img src="templates/images/fa.png">
            </div>
            <div class="fb-page fb-chat" data-href="https://www.facebook.com/profile.php?id=100065323546581" data-tabs="messages" data-width="260" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/profile.php?id=100065323546581" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/profile.php?id=100065323546581">Fanpage</a></blockquote></div>
        </div>
    </div>
</div>

<script type="text/javascript">   
     function email_subscribe(){
        var name = $('#txtemail').val();
       if (name  === '') {
            alert('Vui lòng nhập Email!.');
            return false;
        }
        $.ajax({
            url: './sources/ajax.php',
            type: 'post',
            data:{'email':name,'do':'register_email'},
            success: function(data) {
                if(data=='ok') {
                    alert('Đăng ký thành công!');
                    location.reload();
                }
                else if(data == 'replace'){
                  alert('Email đã được đăng ký!');
                }
                else {
                    alert('Xảy ra lỗi!');
                    $('#subscribe_email').val('');
                }
            }               
        }); 
    };
</script>			</div>	
</body>
</html>
